h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

.type {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  color: #999999;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  font-weight: 400;
}

.title {
  font-family: "Tenor Sans";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: black;
  padding-bottom: 0.95em;
  line-height: 1.5rem;
  font-weight: 400;
}

.landing-contianer-text__title {
  font-family: "Tenor Sans";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: black;
  padding-bottom: 0.95em;
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 42px;
  padding-bottom: 1em;
}
.landing-contianer-text__description {
  font-family: "Source Serif Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
  padding-bottom: 28px;
}

.author {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  text-transform: uppercase;
  color: black;
  line-height: 1.5rem;
  font-weight: 700;
  padding-bottom: 2.5em;
}

.footer-categories-style {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #666666;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.5rem;
}

.form-title-container__text {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #666666;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.5rem;
  padding-bottom: 2.5em;
  width: 100%;
}

.categories-content-items__styles {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #666666;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.5rem;
  color: white;
  letter-spacing: 0;
  text-transform: none;
  padding-bottom: 2em;
  font-size: 0.875rem;
  line-height: 10px;
}

.categories-content-items__styles_dark {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #666666;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.5rem;
  padding-bottom: 4em;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 100%;
}

img {
  max-width: 100%;
  display: block;
}

.button {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid black;
  padding: 20px;
  width: 15%;
  text-align: center;
  margin: 0 auto;
}

.form__button {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: black;
  padding: 1.2em;
  color: #FFFFFF;
  margin: 0;
}

input {
  font-family: "Libre Franklin";
  font-size: 0.625rem;
  color: #999999;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  font-weight: 400;
  padding: 1rem;
  width: 100%;
}

.form-container {
  padding-top: 3.5em;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title-container {
  width: 50%;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 2.5rem;
}

.landing-container {
  display: flex;
  gap: 3.19em;
}
.landing-container-image {
  width: 60.8%;
}
.landing-container-text {
  width: 39.2%;
}

.boxes-container-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.categories-content {
  display: flex;
  gap: 5.75em;
}

.categories-and-form-container {
  display: flex;
  padding-bottom: 7.5em;
  flex-wrap: wrap;
}

.form {
  display: flex;
  justify-content: center;
  width: 50%;
}

header {
  padding: 2.4em 0 2.7em 0;
}

.header-container {
  border-bottom: 1px solid #E6E6E6;
}

nav {
  font-family: "Libre Franklin";
  font-size: 0.875rem;
  color: black;
}

.width-restriction {
  max-width: 1200px;
  margin: 0 auto;
}

.landing-container {
  padding-top: 3.75em;
}

.boxes-settings {
  width: 100%;
  padding-top: 2.81em;
  padding-bottom: 4.5em;
  border-bottom: 1px solid #E6E6E6;
}

.boxes-container-item-six {
  width: 32%;
}

.boxes-container-item-eight {
  width: 24%;
}

.boxes-eight-settings {
  padding: 4.5em 0;
}

.boxes-container-item-four {
  width: 49.3%;
}

.boxes-four-settings {
  padding-top: 4.5em;
}

footer {
  background-color: #141414;
  color: white;
}

.logo-container {
  border-bottom: 1px solid #4D4D4D;
  padding: 5.5em 0 3.75em 0;
}
.logo-container img {
  padding-right: 1em;
}

.categories-container {
  padding-top: 3.5em;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.categories-title {
  padding-bottom: 2.5em;
}

.categories-content-items {
  width: 20%;
}

.lower-categories-container {
  width: 50%;
  display: flex;
  gap: 2.4em;
  padding-top: 3.5em;
}/*# sourceMappingURL=style.css.map */