
.width-restriction {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    padding-top: 5.96em;
    &-container-landing {
        display: flex;
        padding-bottom: 4em;
        &-container-landing__image {
            width: 60%;
        }
        
    }
    &-container-landing__text {
        padding-left: 3.19em;
        width: 41%;
        
    }
}

// Second Container with 6 images in flex

.main-three-box-flex {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 9em;
    &__item {
        width: 32.38%;
    }
    &__image {
        padding-bottom: 1.25em;
    }
}

.main-four-box-flex {
    padding-bottom: 10em;
    &__item {
        width: 23.9%;
    }
    &_button {
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0px;
    margin-top: 4em;
    padding: 21px 26px;
    flex-wrap: nowrap;
            }
}

.main-bottom-box-flex {
    padding-bottom: 6em;
    &__item {
        width: 49.2%;
    }
}

