
.width-restriction {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    padding-top: 5.96em;
    &-container-landing {
        display: flex;
        padding-bottom: 4em;
        &-container-landing__image {
            width: 60%;
        }
        
    }
    &-container-landing__text {
        padding-left: 3.19em;
        width: 41%;
        
    }
}

// Second Container with 6 images in flex

.main-flex {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
    &__button {
        font-family: 'Libre Franklin';
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 0px;
        margin-top: 4em;
        padding: 21px 26px;
        flex-wrap: nowrap;
                }
    &__item {
        &_small {
        width: 23.9%; 
        }
        &_medium {
        width: 32.38%;
        }
        &_large {
        width: 49.2%;
        }
    }
    &_threebox {
        
        padding-bottom: 9em;
    }

    &_twobox {
        padding-bottom: 6em;
       
    }


    &_fourbox {
        padding-bottom: 10em;
       
    }

    &__image {
        padding-bottom: 1.25em;
    }
}

