// Header

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 2.5rem;
}

.landing-container {
    display: flex;
    gap: 3.19em;
    &-image {
        width: 60.8%;
    }
    &-text {
        width: 39.2%;
    }
}

// Boxes
.boxes-container-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

// Footer

.logo-container {
    display: flex;
    align-items: flex-end;
}

.categories-content {
    display: flex;
    gap: 5.75em;
    width: 50%;
    &-items {
        width: 20%;
    }   
}

.categories-and-form-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 3.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3.5em;
}