// Header

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 2.5rem;
}

.landing-container {
    display: flex;
    gap: 3.19em;
    &-image {
        width: 60.8%;
    }
    &-text {
        width: 39.2%;
    }
}

// Boxes
.boxes-container-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

// Footer

.logo-container {
    display: flex;
    align-items: flex-end;
}