footer {
    background-color: #141414;
    color: white;
}

.logo-container {
    border-bottom: 1px solid #4D4D4D;
    padding: 5.50em 0 3.75em 0;
    img {
        padding-right: 1em;
    }
}

.categories-container {
    padding-top: 3.5em;
    width: 60%;
    
}

.categories-title {
    padding-bottom: 1.5em;
}

